In [1]:
import pandas as pd

In [3]:
home = '/Users/wasprobot/.kaggle/competitions/home-credit-default-risk/'

In [4]:
df_POS_CASH_balance = pd.read_csv(home + 'POS_CASH_balance.csv')
df_application_train = pd.read_csv(home + 'application_train.csv')
df_bureau = pd.read_csv(home + 'bureau.csv')
df_bureau_balance = pd.read_csv(home + 'bureau_balance.csv')
df_credit_card_balance = pd.read_csv(home + 'credit_card_balance.csv')
df_installments_payments = pd.read_csv(home + 'installments_payments.csv')
df_previous_application = pd.read_csv(home + 'previous_application.csv')

In [6]:
df_POS_CASH_balance.sample(10)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
4291344,1969390,397097,-15,42.0,40.0,Active,0,0
9646167,1760762,244139,-28,6.0,6.0,Active,0,0
1297369,1899016,210809,-2,36.0,13.0,Active,0,0
6951234,2214509,441152,-69,10.0,10.0,Active,0,0
1402213,1899699,134919,-82,8.0,8.0,Active,0,0
153804,2832154,174428,-25,30.0,26.0,Active,0,0
8358492,1340616,320485,-10,18.0,0.0,Completed,0,0
4738779,2153720,356335,-32,24.0,21.0,Active,0,0
4901054,1229804,436049,-51,24.0,17.0,Active,0,0
9025244,1153739,160938,-39,24.0,22.0,Active,0,0